
<div class="row">
	<div class="col-md-5 col-md-offset-3 signup-form">
		<div class="panel panel-default">

			<div class="panel-heading">
				<h1 class="panel-title">Sign Up</h1>
			</div>


	<div class="panel-body">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>

	  <div class="form-group">
	   <%= f.input :email, placeholder: 'Email', input_html: { class: 'form-control' }, label: false %>
	   </div>

	   <div class="form-group">
	   <%= f.input :password, placeholder: 'Password', label: false, input_html: { class: 'form-control' } %>
	   </div>

	   <div class="form-group">
	   <%= f.input :password_confirmation, placeholder: 'Password confirmation', label: false, input_html: { class: 'form-control' } %>
	   </div>



	   </div> <!-- end panel-body -->

	   <div class="panel-footer">
	   <%= f.button :submit, 'Sign up', class: "btn-block" %>

<% end %>

<%= render "devise/shared/links" %>
	
		</div> <!-- panel -->
	</div> <!-- col-md-5 -->
</div> <!-- row -->



