<div class="container-fluid">
   <div class="row" id="main">
      <div class="col-md-7 col-md-offset-3" id="home-content">
        <h1 id="home-title">where to work in london </h1>
        <p id="home-text">Find the perfect place to work in london</p>
        <%=link_to "What we do", '#', class: "what-we-do btn" %>
      </div>
      <div class="col-md-12 home-search">
        <div class="col-md-6 col-md-offset-3 ">
          <%= form_tag places_path, method: :get, id: 'search' do %>
            <div class="input-group input-group-sm">
            <%= text_field_tag :search, params[:search], class: "form-control controls", :id => "pac-input" %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', class: "btn btn-default", :name => nil) do %>
                <span class="glyphicon glyphicon-search"></span> 
                <% end %>
              </span>
            </div>
            <% end %>
        </div>
 
            </div>
    </div> <!-- MAIN -->


<div class="container">
  <div class="row" id="place-content">
  <h1>Most Recent</h1>

    <% cache ['place', Place.best_rated] do %>
      <% @places.each do |place| %>
        <% cache ['entry', place] do %>
          <div class="col-md-4 col-md-offset-0 box">
            <div class="box-image">
              <%= link_to place_path(place) do %> 
              <%= image_tag place.image.url(:medium) %>
              <% end %>
            </div>
              <div class="box-body">
                <%= place.business_name %><br>
                <%= place.address %> <br>
              </div>
              <div class="box-footer">
                <div class="box-footer-left">
                   <% if place.reviews.count >= 1 %>
                <div class="star-rating" data-score= <%= place.average %> ></div>
                <% end %>
                </div>
                <div class="box-footer-right">
                   <%= social_share_button_tag(place.business_name, url: "http://www.worklab.com/places/#{place.id}") %> 
                </div>
              </div>
           </div>  
       <% end %>
     <% end %>
   <% end %>
  </div> 
</div>




